.progressbar {
  margin-top: 5px;
  background-color: rgba(122, 122, 122, 0.925);
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}
.progressbar > div {
  background-color: #2596be;
  /*width: 45%;*/
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}
